/**********************************/
/**** **** PAGE CONTACT **** ****/
/**********************************/



/** -- Main -- **/

/* - Formulaire - */
.contact-main-container {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    margin: 5vw auto;
    padding-bottom: 5vw;
    padding-top: 7vw;
    width: 90%;
}

.contact-title {
    color: #f3dcb0;
    font-family: 'Abril Fatface', serif;
    margin: 1vw auto;
    text-shadow: 0 0 10px #000;
}


/* - Identité - */
p {
    color: #f3dcb0;
    font-family: Lato, sans-serif;
    font-size: 1rem;
    text-shadow: 0 0 3px #fd3501;
}

.label {
    margin-bottom: 2vw;
}

form.wpcf7-form {
    align-items: center;
    display: flex;
    flex-direction: column;
}

form.wpcf7-form p:first-of-type {
    margin-top: 3vw;
}

 
/* - Checkboxes - */
.wpcf7-list-item {
    display: flex;
    height: 5vw;
}

.wpcf7-list-item:first-of-type {
    margin-top: 3vw;
}

.wpcf7-list-item-label {
    width: 65vw;
}

span.wpcf7-list-item input {
    background-color: #fbf3e7;
    width: 3vw;
}

textarea {
    background-color: #fbf3e7;
    width: 70vw;
}


/* - Confirmation - */
.contact-accept p {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.wpcf7-acceptance span {
    margin-top: -1vw !important;
}


/* - Bouton - */
.wpcf7-submit {
    background-color: #f3dcb0;
    font-family: Lato, sans-serif;
    margin-top: 3vw;
}

/* - Astérisque - */
p.mentions {
    font-size: 0.8rem;
    margin-bottom: inherit;
    padding-top: 5vw;
}







/*** *** TAILLE LAPTOP (width-min: 1024px) *** ***/

@media (min-width: 1024px) and (max-width: 1279px) {
    
}


/*** *** TAILLE DESKTOP (width-min: 1280px) *** ***/

@media (min-width: 1280px) {
    
}
