/***********************************/
/**** **** PAGE ÉVÉNEMENTS **** ****/
/***********************************/


/*** *** GÉNÉRAL *** ***/

body.events-body {
    background-color: #f3dcb0;
    background-image: none;
    height: max-content;
    margin: 0;
    margin-bottom: 40vw;
    padding: 0;
}

.events-main-container {
    height: auto;
    margin: 0 auto;
    /* overflow: scroll; */
    width: 90%; 
}

.event-text .metas #date {
    color: #fd3501;
    font-size: 1.5rem;
}


/*** *** MOBILE FIRST (max-width: 576 px) *** ***/

/* * -- main -- * */

.agenda,
.map,
.calendar {
    border-radius: 8px;
    box-shadow: 1px 1px 10px #4d4d4d;
    margin-top: 6vw;
}

/* - Carte - */
.map-sync,
.map-sync label,
.map-sync input {
    visibility: collapse;
}

.map {
    height: 52vw;
}

/* - Calendrier - */
.calendar {
    background-color: #f7e9cf;
    height: 50vw;
}

.calendar-canvas {
    margin: auto;
    padding-top: 5vw;
    width: 71%;
}

.calhead,
.calbody {
    width: 70vw;
}

/* - Vers Rents - */
.rents-linking {
    margin-top: 7vw;
    text-align: center;
}

.rents-linking-title {
    font-family: 'Abril Fatface', serif;
    font-size: 1.5rem;
    padding-top: 3vw;
}

.rents-linking-button {
    background-color: #f7e9cf;
    border-radius: 8px;
    box-shadow: 1px 1px 5px #4d4d4d;
    color: #000;
    font-family: 'Lato', sans-serif;
    font-size: 1.5rem;
    font-weight: 100;
    margin-top: 5vw;
    padding: 1vw;
}


/*** *** TAILLE TABLETTE PORTRAIT (width-max: 768px) *** ***/

@media (min-width: 577px) and (max-width: 767px) {

    /* - Calendrier - */
    .calendar-canvas {
        padding-top: 7vw;
        width: 83%;
    }
    
    .calhead,
    .calbody {
        width: 80vw;
    }

    .ccal {
        font-size: 1rem !important;
    }

    /* - Carte - */
    .map {
        height: 53vw;
    }
    
    .map-canvas {
        height: 53vw;
    }

    /* - Vers Rents - */
    .rents-linking-title {
        padding-top: 0;
    }

    .rents-linking-button {
        margin-top: 3vw;
    }

}