/***********************************/
/**** **** PAGE ÉVÉNEMENTS **** ****/
/***********************************/




/*** *** MOBILE FIRST (max-width: 576 px) *** ***/

/*** *** GÉNÉRAL *** ***/

body.events-body {
    background-color: #000;
    background-image: none;
    height: max-content;
    margin: 0;
    margin-bottom: 45vw;
    padding: 0;
}

.events-main-container {
    height: auto;
    margin: 0 auto;
    width: 90%; 
}


/* * -- main -- * */

.agenda,
.map-canvas,
.calendar {
    border-radius: 8px;
    margin-top: 6vw;
}

/* - Carte - */
.map-sync,
.map-sync label,
.map-sync input {
    visibility: collapse;
}

.map {
    height: 48vw;
}

.map-canvas {
    height: 48vw;
    min-height: inherit !important;
}

.cibulMap {
    height: 48vw;
}


/* - Vers Rents - */
.rents-linking {
    margin-top: 6vw;
    text-align: center;
}

.rents-linking-title {
    color: #fff;
    font-family: Lato, sans-serif;
    font-size: 4.3vw;
    padding-top: 3vw;
}

.rents-linking-button {
    background-color: #fefefe;
    border-radius: 8px;
    color: #000;
    font-family: 'Abril Fatface', serif;
    font-size: 4vw;
    font-weight: 100;
    margin-bottom: 5vw;
    margin-top: 3vw;
    padding: 2.5vw;
}


/*** *** TAILLE TABLETTE PORTRAIT (width-max: 768px) *** ***/

@media (min-width: 577px) and (max-width: 767px) {

    /* - Vers Rents - */
    .rents-linking {
        margin-top: 9vw;
    }

    .rents-linking-title {
        font-size: 3.5vw;
        padding-top: 0;
    }

    .rents-linking-button {
        font-size: 3vw;
        margin-top: 3vw;
    }

    /* - Carte - */
    .map {
        height: 53vw;
    }
    
    .map-canvas {
        height: 53vw;
    }
}

/*** *** TAILLE TABLETTE PAYSAGE ET 13" (width-min: 768px) *** ***/

@media (min-width: 768px) and (max-width: 1023px) {

    /* - Vers Rents - */
    .rents-linking h4 {
        font-size: 4vw;
    }

    .rents-linking-button {
        font-size: 3vw;
    }
}

/*** *** TAILLE LAPTOP (width-min: 1024px) *** ***/

@media (min-width: 1024px) and (max-width: 1279px) {

    .events-body {
        margin-bottom: 34vw;
    }

    .events-main-container {
        width: 70%;
    }

    /* - Vers Rents - */
    .rents-linking-title {
        font-size: 3.3vw;
        padding-top: 2vw;
    }

    .rents-linking-button {
        font-size: 3vw;
        margin-bottom: 3vw;
        margin-top: 5vw;
    }

    /* - Carte - */
    .js_sync_checkbox {
        height: 0;
    }
}


/*** *** TAILLE DESKTOP (width-min: 1280px) *** ***/

@media (min-width: 1280px) {

    body.events-body {
        margin-bottom: 35vw;
    }

    .events-main-container {
        width: 50%;
    }

    /* - Agenda - */
    .agenda {
        margin-top: 8vw;
    }

    /* - Vers Rents - */
    .rents-linking-title {
        font-size: 2vw;
    }

    .rents-linking-button {
        font-size: 1.5vw;
        margin-bottom: 2vw;
        padding: 1.5vw;
    }
}
