
/********************************/
/******* **** FOOTER **** *******/
/********************************/


/*** *** MOBILE FIRST (max-width: 576 px) *** ***/

/* * -- Footer -- * */

.footer {
    position:absolute;
    background-color: #000;
    bottom: 0;
    box-shadow: 1px 1px 15px #4d4d4d; 
    display: flex;
    flex-direction: row;
    height: 35vw;
    text-align: center;
    width: 100%;
}

.address {
    color: #f3dcb0;    
    font-family: 'Lato', sans-serif;
    height: 28vw;
    padding-top: 4vw;
    width: 50%;
}

.address h5 {
    color: #f3dcb0;    
    font-family: 'Abril Fatface', serif;
    font-size: 5.5vw;
}

.address address {
    color: #f3dcb0;    
    font-family: 'Lato', sans-serif;
    font-size: 3.5vw;
    margin-top: -1vw;
}

.footer-menu-container {
    height: 28vw;
    padding-right: 7vw;
    padding-top: 5vw;
    width: 50%;
}

#menu-footer-menu {
    padding-left: 0 !important;
}

#menu-footer-menu .nav-item .custom_a em {
    font-family: 'Lato', sans-serif;
    font-size: 3.5vw;
    font-style: normal;
    font-weight: 400;
    padding-left: 0 !important;
}

a.nav-link {
    margin-top: 0 !important;
}

/* - Copyright - */
.copyright {
    background-color: #fd3501;
    bottom: 0;
    height: 6vw;
    position: absolute;
    width: 100%;
}

.text-copyright {
    color: #f3dcb0;
    font-family: Lato, sans-serif;
    font-size: 3vw;
    padding-top: 0.5vw;
    text-align: center;
}


/*** *** TAILLE TABLETTE PORTRAIT (width-max: 767px) *** ***/

@media (min-width: 577px) and (max-width: 767px) {

    /* * -- Footer -- * */

    .footer {
        height: 36vw;
    }

    .address {
        padding-left: 2vw;
        padding-top: 5.5vw;
    }

    .address h5 {
        font-size: 6vw;
    }

    .address address {
        font-size: 3.8vw;
    }

    .footer-menu-container {
        padding-right: 5vw;
        padding-top: 7vw;
    }

    #menu-footer-menu .nav-item .custom_a em {
        font-size: 3.8vw;
        margin-bottom: 1vw;
    }

    /* - Copyright - */
    .text-copyright {
        font-size: 3.5vw;
    }
}


/*** *** TAILLE TABLETTE PAYSAGE ET 13" (width-min: 768px) *** ***/

@media (min-width: 768px) and (max-width: 1023px) {


    /* * -- Footer -- * */

    .address {
        padding-top: 5vw;
    }

    .address h5 {
        font-size: 6vw;
    }

    .address address {
        margin-top: 1vw;
    }

    .footer-menu-container {
        padding-right: 7vw;
        padding-top: 7vw;
    }

    #menu-footer-menu {
        padding-left: 0 !important;
    }

    #menu-footer-menu .nav-item .custom_a em {
        font-size: 3.5vw;
        margin-top: 0 !important;
        padding-left: 0 !important;
    }
}


/*** *** TAILLE LAPTOP (width-min: 1024px) *** ***/

@media (min-width: 1024px) and (max-width: 1279px) {

    /* * -- Footer -- * */

    .footer {
        height: 20vw;
    }

    .address {
        height: 20vw;
    }

    .address h5 {
        font-size: 3.5vw;
    }
    
    .address address {
        font-size: 1.5vw;
        margin-top: 1vw;
    }
    
    .footer-menu-container {
        height: 20vw;
        padding-right: 3vw;
        padding-top: 5vw;
        width: 50%;
    }
    
    #menu-footer-menu .nav-item .custom_a em {
        font-size: 1.5vw;
    }


    /* - Copyright - */
    .copyright {
        height: 3vw;
    }

    .text-copyright {
        font-size: 1.5vw;
    }
}


/*** *** TAILLE DESKTOP (width-min: 1280px) *** ***/

@media (min-width: 1280px) {
}
