
/********************************/
/**** **** PAGE ACCUEIL **** ****/
/********************************/

/*** *** GÉNÉRAL *** ***/

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

body {
    background-image: url('../images/funny-patern.jpg');
    background-repeat: repeat-y;
    background-attachment: local;
    background-position: center;
    background-size: cover; 
    height: max-content;
    margin: 0;
    margin-bottom: 40vw;
    padding: 0;
}

a {
    color: #f3dcb0;
    text-decoration: none;
}

main {
    box-sizing: content-box;
}

.main-container {
    height: auto;
    margin: auto;
    width: 90%;
}

/*** *** MOBILE FIRST (max-width: 576 px) *** ***/

/* * -- Main -- * */

/* - Carousel - */
div.n2_clear {
    margin-top: 5vw;
}


/* - Open Agenda - */
.agenda-container {
    margin: 5vw auto;
    width: 100%;
}

iframe {
    background-color: #fbf3e7;
    border-radius: 8px; 
    box-shadow: 1px 1px 25px #4d4d4d;
    height: 100vw;
    padding: 2vw;
}

section.js_list_content {
    margin: auto;
    width: 90%;
}

.action-link {
    visibility: collapse;
}


/* - Formulaire Newsletter - */
.form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 5vw auto;
    padding: 5vw;
    width: 100%;
}

.formulaire-infos {
    width: 100%;
}

.formulaire-infos p,
.formulaire-infos h4 {
    color: #fbf3e7;
    font-family: 'Abril Fatface', serif;
    font-weight: 100;
    text-align: center;
}

.formulaire-infos p {
    margin-bottom: 0.5rem;
}

.formulaire {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 2vw;
    width: 50%;
}

input {
    background-color: #fbf3e7;
    border: none;
    box-shadow: 1px 1px 15px #4d4d4d; 
    font-family: Lato, sans-serif;
    font-size: 1rem;
    margin-bottom: 1vw;
    padding-left: 3vw;
    width: 70vw;
}

.bouton-inscription {
    background-color: #f3dcb0;
    border: 0.1rem solid black;
    border-radius: 2px;
    margin-top: 1.8vw;
    width: 70vw;
}



/*** *** TAILLE TABLETTE PORTRAIT (width-max: 768px) *** ***/

@media (min-width: 577px) and (max-width: 767px) {


    /* * -- Main -- * */

    /* - Formulaire - */
    .form-container {
        border-radius: 15%;
        margin: 5vw auto;
    }
            
    .formulaire-infos p {
        font-size: 1.5rem;
    }

    .formulaire-infos h4 {
        font-size: 2rem;
        margin-bottom: 1rem;
    }
        
    input {
        font-size: 1.5rem;
        height: 6vw;
        margin-bottom: 1.5vw;
        padding-left: 2vw;
        width: 65vw;
    }
    
    .bouton-inscription {
        font-size: 1.7rem;
        margin-top: 2vw;
        width: 65vw;
    }
}


/*** *** TAILLE TABLETTE PAYSAGE ET 13" (width-min: 768px) *** ***/

@media (min-width: 768px) and (max-width: 1023px) {

}


/*** *** TAILLE LAPTOP (width-min: 1024px) *** ***/

@media (min-width: 1024px) and (max-width: 1279px) {

    /* .big-devices {
        height: auto;
        margin: auto;
        width: 50vw;
    } */

    .main-container {
        height: auto;
        margin: auto;
        width: 75%;
    }
        
}


/*** *** TAILLE DESKTOP (width-min: 1280px) *** ***/

@media (min-width: 1280px) {
    
}


/*** *** TAILLE DESKTOP (width-min: 992px) *** ***/

/* - Navigation - */
.nav-item :hover {
    color: hsl(0, 0%, 40%);
    font-size: 20px;
    text-shadow: 0.3px 0.3px 0.5px #f3dcb0;
}

/* .custom-menu {
    display: flex;
    flex-direction: row;
    margin-top: 10%;
    padding-left: 324px;
}
 */