
/********************************/
/**** **** PAGE ACCUEIL **** ****/
/********************************/

/*** *** GÉNÉRAL *** ***/

* {
    box-sizing: border-box;
}

html {
    min-height: 100%;
    position: relative;
}

/*** *** MOBILE FIRST (max-width: 576 px) *** ***/


body {
    background-color: #fefefe;
    /* background-image: url('../images/funny-patern.jpg');
    background-repeat: repeat-y;
    background-attachment: local;
    background-position: center;
    background-size: cover;  */
    height: max-content;
    margin: 0;
    margin-bottom: 40vw;
    padding: 0;
}

a {
    color: #000;
    text-decoration: none;
}

main {
    box-sizing: content-box;
}

.main-container {
    height: auto;
    margin: auto;
    width: 90%;
}


/* * -- Main -- * */

/* - Open Agenda - */
.agenda-container {
    margin: 7vw auto;
    width: 100%;
}

iframe {
    background-color: #fff;
    border-radius: 8px; 
    box-shadow: 1px 1px 3px #4d4d4d;
    height: 70vw;
    padding: 2vw;
}

section.js_list_content {
    margin: auto;
    width: 90%;
}

.action-link {
    visibility: collapse;
}


/* - Formulaire Newsletter - */
.form-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: auto;
    padding-bottom: 5vw;
    width: 100%;
}

.formulaire-infos {
    padding-bottom: 5vw;
    width: 100%;
}

.formulaire-infos p,
.formulaire-infos h4 {
    color: #000 !important;
    font-family: 'Abril Fatface', serif;
    font-weight: 100;
    text-align: center;
}

.formulaire-infos p {
    margin-bottom: 0.5vw;
}

.formulaire {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 2vw;
    width: 50%;
}

input,
.bouton-inscription {
    font-size: 2.5vw;
    height: 5vw;
}

input {
    background-color: #fefefe;
    border: none;
    box-shadow: 1px 1px 3px #4d4d4d; 
    font-family: Lato, sans-serif;
    margin-bottom: 1vw;
    padding-left: 3vw;
    width: 70vw;
}

.bouton-inscription {
    background-color: #000;
    border: 0.1rem solid black;
    border-radius: 2px;
    color: #fff;
    margin-top: 1.8vw;
    width: 70vw;
}



/*** *** TAILLE TABLETTE PORTRAIT (width-max: 768px) *** ***/

@media (min-width: 577px) and (max-width: 767px) {

    body {
        margin-bottom: 36vw;
    }

    /* * -- Main -- * */

    /* - Formulaire - */   
    .form-container {
        padding-bottom: 8vw;
    }         

    .formulaire-infos {
        padding-bottom: 2vw;
    }

    .formulaire-infos p {
        font-size: 3vw;
    }

    .formulaire-infos h4 {
        font-size: 4vw;
        margin-bottom: 1rem;
    }
        
    input,
    .bouton-inscription {
        font-size: 3vw;
        height: 6vw;
    }

    input {
        margin-bottom: 1.5vw;
        padding-left: 2vw;
        width: 65vw;
    }
    
    .bouton-inscription {
        margin-top: 2vw;
        width: 65vw;
    }
}


/*** *** TAILLE TABLETTE PAYSAGE ET 13" (width-min: 768px) *** ***/

@media (min-width: 768px) and (max-width: 1023px) {
    
    /** - Formulaire - **/
    .formulaire-infos p {
        font-size: 3vw;
    }

    .formulaire-infos h4 {
        font-size: 4vw;
    }

    input,
    .bouton-inscription {
        font-size: 3vw;
        height: 6vw;
    }
}


/*** *** TAILLE LAPTOP (width-min: 1024px) *** ***/

@media (min-width: 1024px) and (max-width: 1279px) {

    body {
        margin-bottom: 26vw;
    }

    /* .big-devices {
        height: auto;
        margin: auto;
        width: 100vw;
    }  */

    .main-container {
        height: auto;
        margin: auto;
        width: 70%;
    }

    /** - Formulaire - **/
    .formulaire-infos {
        padding-bottom: 3vw;
    }

    .formulaire-infos p {
        font-size: 2vw;
    }

    input,
    .bouton-inscription {
        font-size: 2vw;
        height: 4vw;
    }
        
}


/*** *** TAILLE DESKTOP (width-min: 1280px) *** ***/

@media (min-width: 1280px) {

    body {
        margin-bottom: 17vw;
    } 

    .big-devices {
        height: auto;
        margin: auto;
        width: 80vw;
    }
    
    .main-container {
        width: 50%;
    }

    /* - Carousel - */
    div.n2_clear {
        margin-top: 5vw;
    }   

    /* - Agenda - */
    .agenda-container {
        margin-bottom: 5vw;
    }

    /* - Formulaire - */
    .form-container {
        padding-bottom: 11vw;
    }
    
    .formulaire-infos {
        padding-bottom: 2vw;
    }

    .formulaire-infos p {
        font-size: 1.8vw;
    }

    .formulaire-infos h4 {
        font-size: 2vw;
    }

    input,
    .bouton-inscription {
        font-size: 1.5vw;
        height: 3vw;
        width: 55vw;
    }
}